<!-- News Feed Form  -->
<div class="ui-block">
<div class="news-feed-form">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link inline-items" data-toggle="tab" href="#blog" role="tab" aria-expanded="false">
        <svg class="olymp-blog-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>

        <span>Blog Post</span>
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
      <form #f="ngForm" (ngSubmit)="onAddPost(f)">
        <div class="author-thumb">
          <img src="../../assets/img/author-page.jpg" alt="author">
        </div>
        <div class="form-group with-icon label-floating is-empty">
          <label class="control-label">Share what you are thinking here...</label>
          <textarea name="message" class="form-control" placeholder="" required="" [(ngModel)]="post.message"></textarea>
        </div>
        <div class="add-options-message">
          <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
            <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
          </a>
          <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
            <svg class="olymp-computer-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
          </a>

          <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
            <svg class="olymp-small-pin-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
          </a>

          <button class="btn btn-primary btn-md-2" [disabled]="f.invalid">Post Status</button>
        </div>

      </form>
    </div>
  </div>

</div>
</div>
<!-- ... end News Feed Form  -->
<div id="newsfeed-items-grid" *ngIf="listPosts">

  <div class="ui-block" *ngFor="let p of listPosts._embedded.posts | newestPost: 'ascending'">

    <article class="hentry post">

      <div class="post__author author vcard inline-items">
        <img src="../../assets/img/avatar10-sm.jpg" alt="author">

        <div class="author-date">
          <a class="h6 post__author-name fn" href="#"></a>
          <div class="post__date">
            <time class="published" datetime="2004-07-24T18:18">
              {{p.date|date:'dd/MM/yyyy:HH:mm:ss'}}
            </time>
          </div>
        </div>

        <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
          <ul class="more-dropdown">
            <li>
              <a href="#">Edit Post</a>
            </li>
            <li>
              <a href="#">Delete Post</a>
            </li>
            <li>
              <a href="#">Turn Off Notifications</a>
            </li>
            <li>
              <a href="#">Select as Featured</a>
            </li>
          </ul>
        </div>

      </div>

      <p>{{p.message}}</p>

      <div class="post-additional-info inline-items">

        <a href="#" class="post-add-icon inline-items">
          <svg class="olymp-heart-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
          <span>24</span>
        </a>

        <ul class="friends-harmonic">
          <li>
            <a href="#">
              <img src="../../assets/img/friend-harmonic7.jpg" alt="friend">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../assets/img/friend-harmonic8.jpg" alt="friend">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../assets/img/friend-harmonic9.jpg" alt="friend">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../assets/img/friend-harmonic10.jpg" alt="friend">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../../assets/img/friend-harmonic11.jpg" alt="friend">
            </a>
          </li>
        </ul>

        <div class="names-people-likes">
          <a href="#">You</a>, <a href="#">Elaine</a> and
          <br>22 more liked this
        </div>


        <div class="comments-shared">
          <a href="#" class="post-add-icon inline-items">
            <svg class="olymp-speech-balloon-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
            <span>17</span>
          </a>

          <a href="#" class="post-add-icon inline-items">
            <svg class="olymp-share-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
            <span>24</span>
          </a>
        </div>


      </div>

      <div class="control-block-button post-control-button">

        <a href="#" class="btn btn-control">
          <svg class="olymp-like-post-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
        </a>

        <a href="#" class="btn btn-control">
          <svg class="olymp-comments-post-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
        </a>

        <a href="#" class="btn btn-control">
          <svg class="olymp-share-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
        </a>

      </div>

    </article>

    <app-comment></app-comment>
  </div>
</div>
